<div>
    <h4>Name: {{ restInfo.name }}</h4>
    <h4>Cuisine: {{ restInfo.cuisine }}</h4>
    <h4>Address: {{ restInfo.address }}</h4>
    <img [src]="restInfo.image_url">
    <h4>Comment</h4>
    <!-- form -->
    <form [formGroup]="form" (ngSubmit)="processForm()">
        <strong>Name: </strong> <input type="text" formControlName="name"><br>
        <strong>Rating: </strong> <input type="number" min="1" max="5" formControlName="rating"><br>
        <textarea cols="30" rows="10" formControlName="text"></textarea><br>
        <button type="button" [routerLink]="['/cuisines', cuisine]">Back</button>
        <button type="submit" [disabled]="checkFormInvalid()">Submit</button>
    </form>
    
</div>